@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #0d0d0f; /* tvoja background boja */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #4338ca, #06b6d4);
  border-radius: 9999px;
  border: 2px solid #0d0d0f;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #06b6d4, #4338ca);
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #06b6d4 #0d0d0f;
}

::-webkit-scrollbar-thumb {
  box-shadow: 0 0 10px rgba(6, 182, 212, 0.4);
}

@keyframes pulse-slow {
  0%, 100% {
    transform: scale(1);
    box-shadow: 0 0 15px rgba(6, 182, 212, 0.4);
  }
  50% {
    transform: scale(1.04);
    box-shadow: 0 0 25px rgba(67, 56, 202, 0.6);
  }
}
